<h1 id="tableLabel">Contacts</h1>


<p *ngIf="!contactList"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="contactList.length > 0; else noRecordsFound">
    <thead>
        <tr>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contactList">
            <td>{{ contact.firstName }} {{ contact.lastName }}</td>
        </tr>
    </tbody>
</table>

<ng-template #noRecordsFound>
    <p><em>No contacts found.</em></p>
</ng-template>
